<odoo>
    <data>
        <menuitem name="PSB" id="siswa_psb_ocb11.root_menu" sequence="4" />

        <menuitem name="Operations" id="siswa_psb_ocb11.categories_menu_registrasi" parent="siswa_psb_ocb11.root_menu" sequence="1" />

        <!-- <menuitem name="Formulir" id="siswa_psb_ocb11.action_menu_formulir" parent="siswa_psb_ocb11.categories_menu_registrasi" action="siswa_psb_ocb11.formulir_action_window" sequence="1"/> -->
        <menuitem name="Registrasi" id="siswa_psb_ocb11.action_menu_registrasi" parent="siswa_psb_ocb11.categories_menu_registrasi" action="siswa_psb_ocb11.registrasi_action_window" sequence="2"/>
        <!-- <menuitem name="Wizard Distribusi Siswa" id="siswa_psb_ocb11.action_menu_distribusi" parent="siswa_psb_ocb11.categories_menu_registrasi" action="siswa_psb_ocb11.wizard_distribusi_siswa" sequence="3"/> -->
        <menuitem name="Distribusi Siswa" id="siswa_psb_ocb11.action_menu_distribusi_siswa" parent="siswa_psb_ocb11.categories_menu_registrasi" action="siswa_psb_ocb11.distribusi_siswa_action_window" sequence="34"/>
    </data>
</odoo>