<flectra>
	<data>
		<menuitem name="PSB" id="siswa_psb_ocb11.root_menu"
			sequence="4" web_icon="siswa_psb_ocb11,static/description/icon.png"  />

		<menuitem name="Master"
			id="siswa_psb_ocb11.master_menu_registrasi"
			parent="siswa_psb_ocb11.root_menu" sequence="1" />
		<menuitem name="Operations"
			id="siswa_psb_ocb11.categories_menu_registrasi"
			parent="siswa_psb_ocb11.root_menu" sequence="2" />

		<menuitem name="Biaya Registrasi"
			id="siswa_psb_ocb11.action_menu_registrasi_manager"
			parent="siswa_psb_ocb11.master_menu_registrasi"
			action="siswa_psb_ocb11.registrasi_manager_action_window"
			sequence="1" />
		<menuitem name="Registrasi"
			id="siswa_psb_ocb11.action_menu_registrasi"
			parent="siswa_psb_ocb11.categories_menu_registrasi"
			action="siswa_psb_ocb11.registrasi_action_window" sequence="2" />

		<menuitem name="Distribusi Siswa"
			id="siswa_psb_ocb11.action_menu_distribusi_siswa"
			parent="siswa_psb_ocb11.categories_menu_registrasi"
			action="siswa_psb_ocb11.distribusi_siswa_action_window" sequence="34" />

		<menuitem name="Reports" id="siswa_psb_ocb11.menu_report"
			parent="siswa_psb_ocb11.root_menu" sequence="2" />
		<menuitem name="Calon Siswa"
			id="siswa_psb_ocb11.action_menu_wizard_report_calon_siswa"
			parent="siswa_psb_ocb11.menu_report"
			action="siswa_psb_ocb11.wizard_report_calon_siswa_action" />
		<menuitem name="Distribusi Siswa"
			id="siswa_psb_ocb11.action_menu_wizard_report_distribusi_siswa"
			parent="siswa_psb_ocb11.menu_report"
			action="siswa_psb_ocb11.wizard_report_distribusi_siswa_action" />

		<menuitem name="Configuration"
			id="siswa_psb_ocb11.menu_configuration"
			parent="siswa_psb_ocb11.root_menu" sequence="3"
			groups="base.group_system" />
		<menuitem name="PSB Setting"
			id="siswa_psb_ocb11.psb_setting_menu"
			parent="siswa_psb_ocb11.menu_configuration" sequence="1"
			action="siswa_psb_ocb11.psb_setting_form_action" />
	</data>
</flectra>